<body style="background-size: cover;
    background-repeat: no-repeat;
     background-image:url('assets/junction4.jpg')">
<div class="frontpage">
<h1 class="text-center" style="font-family:Raleway;color:#CCC"> Texas Code'm </h1>

<h3 class="text-center" style="font-family:Raleway;color:#CCC">Think. Innovate. Create.</h3>

<h3 class="text-center"><%= link_to 'Join now', signup_path, class:"btn text-center", style:"font-size:30px;font-family:Montserrat;color:#5264AE" %></h3>
</div>
