@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'bootstrap-datetimepicker';

.frontpage {
  position: relative;
  top: 50%;
  transform: translateY(+65%);
}

.navbar-btn {
  font-weight: bold;
  font-size: 120%;
  color: #5264AE;
}

h1 {
  font-family: 'Roboto';
}

.bg {
  height: 60%;
  width: 60%;
}
